@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #7e22ce;
    --secondary-color: #c2410c;
    --background-color: white;
    --foreground-color: black;
}

body {
    padding: 0;
    margin: 0;
}

.entry-summary img {
    display: none;
}