@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .scroll-snap-none {
        scroll-snap-type: none;
    }
    .scroll-snap-x {
        scroll-snap-type: x mandatory;
    }
    .scroll-snap-y {
        scroll-snap-type: y mandatory;
    }
    .snap-start {
        scroll-snap-align: start;
    }
}

:root {
    --primary-color: #7e22ce;
    --secondary-color: #c2410c;
    --background-color: white;
    --foreground-color: black;
    --input-color: #e4e4e4;
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

.dark {
    --background-color: #212121;
    --foreground-color: white;
    --input-color: #353535;
}

.select-caret {
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}

.capitalize {
    text-transform: capitalize;
}

.max-height-page {
    max-height: calc(100vh - 48px - 16px);
}

.height-page {
    height: calc(100vh - 48px - 16px);
}

a {
    color: #2196f3
}